# Compiled binaries
/hello
/m1
/m1b
/m1c
/m2
/m3
/m4
/m5
/m6
/m7
/m8
/m9
/m10
# Generated .cr files at root level (output of compile.rb)
# Source files in src/ and spec/ are tracked
*.cr
!src/**/*.cr
!spec/**/*.cr
*_bin
*_release
*_debug
*_old
*_o0
*_o1
*_o2
*_test
matmul
nbody
splay
fib
pair_test.cr
bisect.cr
vdtest*.cr
verify_*.cr
